.flexslider { margin-bottom: 10px; background: #c78a36; border-color: #c78a36; position: relative; }
.flexslider img { margin-top: 5px; margin-left: 5px; }
/* 
.flexslider li { margin-right: 4px; }
.flexslider li.last { margin-right: 0; }
*/